/* LESS CSS */

.roundanddrop (@radius: 10px) {
	padding:8px; 
	border:2px solid black; 
	border-radius: @radius;
	box-shadow: 8px 8px 4px #666;
	-o-box-shadow: 5px 5px 5px #888;
	-icab-box-shadow: 5px 5px 5px #888;
	-khtml-box-shadow: 5px 5px 5px #888;
	-moz-box-shadow: 5px 5px 5px #888;
	-webkit-box-shadow: 5px 5px 5px #888;
	box-shadow: 5px 5px 5px #888;
}

div.pickform {
	margin-bottom: 50px;
	margin-left: 8px;
	width: 400px;
	.roundanddrop(5px);
	.input-append {
		margin-bottom: 0px;
		input#pickCard {
			margin-bottom: 0px;
			width: 329px;
		}	
	}
}



div.draft.row
{
	clear: both;
	width: 1000px;
	overflow: ;
	margin-left: -50px;
	margin-bottom: 50px;
}

div.futurepicks
{
	float: left;
}

div.descriptors
{
	float: left;
}

div.historypicks 
{
	float: left;
}

div.pick {
	.roundanddrop(5px);
	width: 150px;
	margin: 10px;
	margin-right: 20px;

	&.player0 {
		background-color: #FF66FF;
	}
	&.player1 {
		background-color: #8DE2FF;
	}
	&.player2 {
		background-color: #FF6666;
	}
	&.player3 {
		background-color: #E0FF85;
	}
	&.player4 {
		background-color: #339966;
	}
	&.player5 {
		background-color: #B87070;
	}
	&.player6 {
		background-color: #AD855C;
	}
	&.player7 {
		background-color: #FF9900;
	}
	&.player8 {
		background-color: #C9C9C9;	
	}

	&.self {
		background-color: #4DDB4D;
	}

	&.picked {
		opacity: 0.5;
	}
	&.waiting {
		opacity: 1;
	}

	p {
		text-align: center;
	}
	p.card {
		margin-bottom: 0px;
	}
	span.member {
		color: #444;
	}
	span.card {
		text-align: center;
		color: #005C99;
	}
}

div.container {
	padding-top: 30px;
}

div.breadcrumb-container {
	padding: 20px;
	padding-bottom: 0px;
}

#login-buttons {
	float: right;
	margin-right: 35px;
}

div.alert {
	margin-top: 15px;
	width: 300px;
}

div.thumbnail {
	&.waiting {
		background-color: #E68585;
	}
	&.started {
		background-color: #C6FFC6;
	}
	&.finished {
		
	}
}

div.draft {
	.label {
		margin-right: 5px;
		margin-bottom: 5px;
	}
}

.close.deletedraft {
		padding-right: 5px;
}

#invitePeopleForm {
	p {
		margin-bottom: 25px;
	}
	
	#addEmailGroup {
		.controls {
			#addEmailInput {
				width: 300px;
			}
			.hide {
				display: none;
			}
			.show {
				display: block;
			}
		}
	}
}

