/* LESS CSS */

.roundanddrop (@radius: 10px) {
	padding:8px; 
	border:2px solid black; 
	border-radius: @radius;
	box-shadow: 8px 8px 4px #666;
	-o-box-shadow: 5px 5px 5px #888;
	-icab-box-shadow: 5px 5px 5px #888;
	-khtml-box-shadow: 5px 5px 5px #888;
	-moz-box-shadow: 5px 5px 5px #888;
	-webkit-box-shadow: 5px 5px 5px #888;
	box-shadow: 5px 5px 5px #888;
}

.colortwo (@firstColor, @secondColor, @textColor) {
	background-image: linear-gradient(bottom, @firstColor 20%, @secondColor 80%);
	background-image: -o-linear-gradient(bottom, @firstColor 20%, @secondColor 80%);
	background-image: -moz-linear-gradient(bottom, @firstColor 20%, @secondColor 80%);
	background-image: -webkit-linear-gradient(bottom, @firstColor 20%, @secondColor 80%);
	background-image: -ms-linear-gradient(bottom, @firstColor 20%, @secondColor 80%);
	color: @textColor;
}

.playerbg (@playerColor, @secondColor:#fff) {
	background-image: linear-gradient(bottom, @playerColor 5%, @secondColor 90%);
	background-image: -o-linear-gradient(bottom, @playerColor 5%, @secondColor 90%);
	background-image: -moz-linear-gradient(bottom, @playerColor 5%, @secondColor 90%);
	background-image: -webkit-linear-gradient(left, @playerColor 5%, @secondColor 5%);
	background-image: -ms-linear-gradient(bottom, @playerColor 5%, @secondColor 90%);
}

.colorone (@color, @text) {
	background-color: @color;
	color: @text;
}

.playerbackground {
	&.self {
		background-color: #4DDB4D;
	}
	&.player0 {
		background-color: @player0color;
	}
	&.player1 {
		.playerbg(@player1color);
	}
	&.player2 {
		background-color: @player2color;
	}
	&.player3 {
		background-color: @player3color;
	}
	&.player4 {
		background-color: @player4color;
	}
	&.player5 {
		background-color: @player5color;
	}
	&.player6 {
		background-color: @player6color;
	}
	&.player7 {
		background-color: @player7color;
	}
	&.player8 {
		background-color: @player8color;	
	}
}

@textGold: #000;
@textBlue: #000;
@textWhite: #000;
@textRed: #FFF;
@textGreen: #000;
@textBlack: #FFF;
@textUnknown: #000;

@cardGold: #D6AD33;
@cardBlue: #70C6E2;
@cardWhite: #FFF;
@cardRed: #FF3300;
@cardGreen: #339933;
@cardBlack: #1A1A1A;
@cardUnknown: #ccc;

@player0color: #FF66FF;
@player1color: #8DE2FF;
@player2color: #FF6666;
@player3color: #E0FF85;
@player4color: #339966;
@player5color: #B87070;
@player6color: #AD855C;
@player7color: #FF9900;
@player8color: #C9C9C9;

@pickFormWidth: 353px;

div.pickform {
	margin-bottom: 50px;
	margin-left: 8px;
	width: @pickFormWidth;	
	#pickCardForm {
		margin-bottom: 0px;
	}
	.roundanddrop(5px);
	.input-append {
		margin-bottom: 0px;
		input#pickCard {
			margin-bottom: 0px;
			width: @pickFormWidth - 71px;
		}	
	}
}



div.draft.row
{
	clear: both;
	width: 1000px;
	overflow: ;
	margin-left: -50px;
	margin-bottom: 50px;
}

div.futurepicks
{
	float: left;
}

div.descriptors
{
	float: left;
}

div.historypicks 
{
	float: left;
}

div.pick {
	.roundanddrop(5px);
	width: 150px;
	margin: 10px;
	margin-right: 20px;
	position: relative;

	&.spreadsheet {
		height: 35px;
		margin: 10px;
	}

	&.gold { .colorone(@cardGold, @textGold); }
	&.unknown { .colorone(@cardUnknown, @textUnknown); }
	&.colorless { .colorone(@cardUnknown, @textUnknown); }
	&.white { .colorone(@cardWhite, @textWhite); }
	&.blue { .colorone(@cardBlue, @textBlue); }
	&.black { .colorone(@cardBlack, @textBlack); }
	&.red { .colorone(@cardRed, @textRed); }
	&.green { .colorone(@cardGreen, @textGreen); }

	&.whiteblue { .colortwo(@cardWhite, @cardBlue, @textWhite); }
	&.whiteblack { .colortwo(@cardWhite, @cardBlack, #222); }
	&.whitered { .colortwo(@cardWhite, @cardRed, @textWhite); }
	&.whitegreen { .colortwo(@cardWhite, @cardGreen, @textWhite); }

	&.blueblack { .colortwo(@cardBlue, @cardBlack, @textBlack); }
	&.bluered { .colortwo(@cardBlue, @cardRed, @textRed); }
	&.bluegreen { .colortwo(@cardBlue, @cardGreen, @textGreen); }

	&.blackred { .colortwo(@cardBlack, @cardRed, @textBlack); }
	&.blackgreen { .colortwo(@cardBlack, @cardGreen, @textBlack); }

	&.redgreen { .colortwo(@cardRed, @cardGreen, @textGreen); }

	&.picked {
		span.member {
			opacity: 0.8;
			font-style: italic;
		}
		&.recenttrue {
			opacity: 1;
			border: 4px solid #000;
			padding: 6px;

			.addedicon {
				position: absolute;
				left: 2px;
				bottom: 1px;
			}
		}
		&.recentfalse {
			opacity: 0.6;
			&.addedicon {
				display: none;
			}
			.added {
				display: none;
			}
		}
	}
	&.waiting {
		opacity: 1;
		.playerbackground;
		.member {
			color: #444;
			.label {
				
			}
		}
		.card {
			color: #005C99;
		}
	}

	p {
		text-align: center;
	}
	p.card {
		margin-bottom: 0px;
	}
	span.card {
		text-align: center;
	}
}

div.container {
	padding-top: 30px;
}

div.breadcrumb-container {
	padding: 20px;
	padding-bottom: 0px;
}

#login-buttons {
	float: left;
	margin-right: 35px;
	margin-left: 35px;
}

div.alert {
	margin-top: 15px;
	width: 300px;
}

div.thumbnail {
	&.waiting {
		background-color: #E68585;
	}
	&.started {
		background-color: #C6FFC6;
	}
	&.finished {
		
	}
}

div.draft {
	.label {
		margin-right: 5px;
		margin-bottom: 5px;
	}
}

.close.deletedraft {
		padding-right: 5px;
}

#invitePeopleForm {
	p {
		margin-bottom: 25px;
	}
	
	#addEmailGroup {
		.controls {
			#addEmailInput {
				width: 300px;
			}
			.hide {
				display: none;
			}
			.show {
				display: block;
			}
		}
	}
}

