/* LESS CSS */

div.container {
	padding-top: 30px;
}

div.breadcrumb-container {
	padding: 20px;
	padding-bottom: 0px;
}

#login-buttons {
	float: right;
	margin-right: 35px;
}

div.alert {
	margin-top: 15px;
	width: 300px;
}

div.thumbnail {
	&.waiting {
		background-color: #E68585;
	}
	&.started {
		background-color: #C6FFC6;
	}
	&.finished {
		
	}
}

div.draft {
	.label {
		margin-right: 5px;
		margin-bottom: 5px;
	}
}

.close.deletedraft {
		padding-right: 5px;
}

#invitePeopleForm {
	p {
		margin-bottom: 25px;
	}
	
	#addEmailGroup {
		.controls {
			#addEmailInput {
				width: 300px;
			}
			.hide {
				display: none;
			}
			.show {
				display: block;
			}
		}
	}
}

